#canvasAnchorPane {
    -fx-background-color: rgba(78, 141, 29, 0.84);
}

.roadSurface{
    -fx-fill: #2e3436;
}

.midLine {
    -fx-stroke-width: 2;
    -fx-stroke: #dbdbd9;
}

.markLine {
    -fx-stroke-width: 2;
    -fx-stroke: #dbdbd9;
    -fx-stroke-dash-array: 10 10 10 10;
}