@import "drawingpane.css";
@import "optionpane.css";
@import "statuspane.css";

.controlButton{
    -fx-pref-width: 200px;
    -fx-pref-height: 30px;
    -fx-background-color: #1565C0;
    -fx-background-radius: 0px;

    -fx-text-fill: black;
}

.controlButton:hover{
    -fx-text-fill: white;
}