#optionsAnchorPane{

}

.tab-pane *.tab-header-area *.tab-header-background {
    -fx-background-color: #1565C0;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 0 0;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}

.tab-pane{
    -fx-tab-min-width: 83px;
    -fx-tab-min-height: 30px;
    -fx-tab-max-width: 83px;
    -fx-tab-max-height: 30px;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;

    -fx-content-display: center;
    -fx-background-size: 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#worldTab{
    -fx-background-image: url("../icons/world_black.png");
}
#worldTab:hover{
    -fx-background-image: url("../icons/world_white.png");
}
#worldTab:selected{
    -fx-background-image: url("../icons/world_white.png");
}

#trafficTab{
    -fx-background-image: url("../icons/traffic_black.png");
}
#trafficTab:hover{
    -fx-background-image: url("../icons/traffic_white.png");
}
#trafficTab:selected{
    -fx-background-image: url("../icons/traffic_white.png");
}

#connectTab{
    -fx-background-image: url("../icons/connect_black.png");
}
#connectTab:hover{
    -fx-background-image: url("../icons/connect_white.png");
}
#connectTab:selected{
    -fx-background-image: url("../icons/connect_white.png");
}

#themeTab{
    -fx-background-image: url("../icons/theme_black.png");
}
#themeTab:hover{
    -fx-background-image: url("../icons/theme_white.png");
}
#themeTab:selected{
    -fx-background-image: url("../icons/theme_white.png");
}

.slider > .thumb{
    -fx-background-color: #1565C0;
}

.jfx-toggle-button{
    -jfx-toggle-color: #1565C0;
}
